strong1{
    color: #ff0000;
}

strong2{
    color: #0000ff;
}

strong3{
    color: #3cb371;
}

strong4{
    color: #ffd700;
}

strong5{
    color: #a0522d;
}

strong6{
    color: #ff69b4;
}